@use "./vars.scss" as vars;

#media-player {
  .media-player-wrapper {
    display: none;

    &.show {
      display: block;
    }

    video {
      aspect-ratio: 16/9;
      width: 100%;
    }
  }

  #niconico-video-player-wrapper > * {
    width: 100%;
    height: 100%;
  }
}

.add-section {
  display: flex;
  flex-direction: row;

  .url-bar {
    flex-grow: 1;
  }
}

.playlist-details {
  border: 1px vars.$accent-color solid;
  margin: 0.5em;

  .tab-bar ul {
    display: flex;
    background-color: #2f2f2f;
    border: 1px vars.$accent-color solid;
    user-select: none;

    label {
      display: block;
      padding: 0.25em 0.5em;
      cursor: pointer;

      &:hover {
        background-color: vars.$accent-color-light;
      }
    }

    .tab-radio {
      display: none;
      float: left;

      &:checked {

        &~label {

          &,
          &:hover {
            background-color: vars.$accent-color;
            cursor: default;
          }
        }
      }
    }
  }


  &:has(#tab-queue:checked) #playlist-queue,
  &:has(#tab-controller:checked) #playlist-controller,
  &:has(#tab-managers:checked) #playlist-managers {
    display: block;
  }

  .playlist-items .centered {
    text-align: center;
  }

  #playlist-controller {
    .button-bar {
      float: right;
    }

    .current-media-info {
      .grid {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 1em;
        align-items: center;
        margin-bottom: 0.5em;
      }

      .button-bar {
        float: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }

    .current-media-details {
      text-align: right;
    }
  }

  #playlist-queue {
    .page-nav {
      float: right;
      width: auto;
    }

    .playlist-entry {
      display: block;

      .playlist-entry-length {
        float: right;
      }

      .playlist-utilities {
        display: none;
      }

      .current-item {
        color: vars.$base-color;
      }

      .current-item-gt {
        color: vars.$accent-color;
      }

      &:hover .playlist-utilities {
        display: inline;
      }
    }
  }

  #playlist-managers {
    .button-bar {
      float: right;
    }
  }

  .tab-content {
    display: none;
    padding: 0.5em;

    h2 {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}
