{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/assets/plst.svg">
  <link rel="stylesheet" href="/styles/reset.css" type="text/css">
  <link rel="stylesheet" href="/styles/common.css" type="text/css">
  <link rel="stylesheet" href="/styles/toast.css" type="text/css">
  <script src="/libs/htmx.min.js" type="module"></script>
  <script src="/scripts/navbar.js" type="module" defer></script>
  <script src="/scripts/toast.js" type="module" defer></script>
  <script src="/scripts/timestamp.js" type="module" defer></script>
  {{template "head" .}}
</head>

<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><img src="/assets/plst.svg" alt="plst logo" class="logo"></li>
        <li><a href="/">home</a></li>
        <li><a href="/watch/">watch</a></li>
        {{if HasUsername .Context}}
        <li><a hx-post="/auth/logout">logout</a></li>
        {{else}}
        <li><a href="/auth/login/">auth</a></li>
        {{end}}
        <li class="tooltip-wrapper">
          <button class="tooltip link-button" onclick="toggleNavbar(event)">
            {{if HasUsername .Context}}
            Hi, {{GetUsername .Context}}.
            {{end}}
            Press SPACE twice to toggle this navbar
          </button>
        </li>
      </ul>
    </nav>
  </header>

  {{template "body" .}}

  <section class="toast-notification-box">
  </section>

  <footer>
    <p>plst4 is experimental software and is available on <a href="https://github.com/btmxh/plst4"
        target="_blank">GitHub</a></p>
  </footer>
</body>

</html>
{{end}}
