{{define "title"}} Account recovery {{end}}

{{define "content"}}
<section class="auth-form" style="padding-left: 1rem; padding-right: 1rem;" method="post">
  <h1>Check your email</h1>
  <p class="info">We've sent a mail containing an account recovery link to you.</p>
  <p class="info">Please follow the link to reset your password.</p>
</section>
{{end}}
