{{define "title"}}
Account recovery
{{end}}

{{define "content"}}
<form class="auth-form">
  <h1 class="auth-title">Account recovery</h1>
  <label for="recovery-email" autofocus>Enter the email you signed up with</label>
  <input id="recovery-email" name="email" type="email" autocomplete="email" placeholder="Your email here" required>
  {{template "errorMsg" .}}
  <input type="submit" value="Continue" hx-post="/auth/recover/submit/">
  <a class="return-btn no-link-effect" href="/auth/login/">Return to login page</a>
</form>
{{end}}
