{{define "title"}} Account recovery {{end}}

{{define "content"}}
<form class="auth-form" style="padding-left: 1rem; padding-right: 1rem;">
  <h1>Reset your password</h1>
  <input type="hidden" name="email" value="{{.Email}}">
  <input type="hidden" name="code" value="{{.Identifier}}">
  <label for="password">Password</label>
  <input id="password" name="password" type="password" placeholder="Your new password here" required>
  <label for="password-confirm">Confirm password</label>
  <input id="password-confirm" name="password-confirm" type="password" placeholder="Retype your password here"
    autocomplete="new-password" required>
  {{template "errorMsg" .}}
  <input type="submit" value="Continue" hx-post="/auth/resetpassword/submit/">
</form>
{{end}}
