{{define "title"}} Account recovery {{end}}

{{define "content"}}
<section class="auth-form" style="padding-left: 1rem; padding-right: 1rem;">
  <h1>Invalid recovery request</h1>
  <p class="info">{{.Error}}</p>
</section>
{{end}}
