{{define "head"}}
<script src="/scripts/watch.js" type="module" defer></script>
{{end}}

{{define "queue"}}
<form hx-target="this" hx-include="#state-hash-input" hx-swap="outerHTML">
  <input type="hidden" id="state-hash-input" name="state-hash" value="{{.GlobalHash}}">
  {{$name := "title"}}
  <input type="ext" name="title" placeholder="Title" value="{{Get .Context $name}}">
  {{$name := "artist"}}
  <input type="text" name="artist" placeholder="Artist" value="{{Get .Context $name}}">
  <select name="add-position">
    <option value="add-to-start">Add to start</option>
    <option value="add-to-end">Add to end</option>
    <option value="queue-next">Queue next</option>
  </select>
  <input type="submit" value="add" hx-post="/watch/{{.Id}}/queue/add">
  <hr>
  <div class="button-bar">
    <input class="base-background" type="submit" value="refresh" hx-get="/watch/{{.Id}}/queue/thispage"
      hx-vals="{{.ThisPage}}">
    <input class="accent-background" type="submit" value="delete" hx-delete="/watch/{{.Id}}/queue/delete">

    <input class="base-background" type="submit" value="<<" hx-get="/watch/{{.Id}}/queue/firstpage">
    {{if .PrevPage}}
    <input class="base-background" type="submit" value="<" hx-get="/watch/{{.Id}}/queue/prevpage"
      hx-vals="{{.PrevPage}}">
    {{end}}
    {{if .NextPage}}
    <input class="base-background" type="submit" value=">" hx-get="/watch/{{.Id}}/queue/nextpage"
      hx-vals="{{.NextPage}}">
    {{end}}
    <input class="base-background" type="submit" value=">>" hx-get="/watch/{{.Id}}/queue/lastpage">
  </div>

  <section class="playlist-items">
    {{if eq (len .Items) 0}}
    <h1>Playlist is empty</h1>
    {{else}}
    {{$thisPage := .ThisPage}}
    {{$playlistId := .Id}}
    {{$currentIdx := .CurrentIdx}}
    {{range $item := .Items}}
    <div class="playlist-entry">
      <span class="playlist-entry-length">00:00:30</span>
      <input type="checkbox" id="playlist-item-{{$item.Id}}">
      {{$current := eq $item.Index $currentIdx}}
      <label for="playlist-item-{{$item.Id}}" class="{{if $current}}current-item{{end}}">
        {{if $current}}
        <span class="current-item-gt">&gt;</span>
        {{end}}
        {{HumanIndex $item.Index}}. {{$item.Title}} - {{$item.Artist}}
      </label>
      <input name="playlist-item-hash-{{$item.Id}}" type="hidden" value="{{.PositionalHash}}">
      <span class="playlist-utilities">
        <a href="{{$item.URL}}" target="_blank">link</a>
        <button type="button" class="link-button" onclick="copyPrevLink(event)">copy</button>
        <input class="link-button" type="submit" hx-patch="/watch/{{$playlistId}}/queue/goto/{{$item.Id}}" value="goto"
          hx-vals='js:{"index": {{$item.Index}}, ...{{$thisPage}}}'
          hx-params='playlist-item-hash-{{$item.Id}},index,state-hash,pivot,pivot-index,pivot-pos-hash'>
      </span>
    </div>
    {{end}}
    {{end}}
  </section>
</form>
{{end}}

{{define "controller"}}
<section class="playlist-info">
  {{if eq (GetUsername .Context) .Owner}}
  <div class="button-bar">
    <button class="base-background" hx-patch="/watch/{{.Id}}/controller/rename" hx-prompt="Enter the new playlist name"
      hx-target="#playlist-controller" hx-swap="innerHTML">Rename</button>
    <button class="accent-background" hx-delete="/watch/{{.Id}}/controller/delete"
      hx-confirm="Are you sure you want to delete this playlist?">Delete</button>
  </div>
  {{end}}
  <h2> Current playlist: {{.Name}} </h2>
  <p> Created by {{.Owner}} at {{FormatTimestampUTC .CreatedTimestamp}} </p>
</section>
{{$id := .Id}}
{{with .Media}}
<hr>
<section class="current-media-info">
  <div class="grid">
    <label for="media-title">Title</label>
    <input type="text" id="media-title" value="{{.Title}}">
    <button class="link-button" onclick="copyPrevInput(event)">copy</button>
    <label for="media-artist">Artist</label>
    <input type="text" id="media-artist" value="{{.Artist}}">
    <button class="link-button" onclick="copyPrevInput(event)">copy</button>
    <label for="media-original-title">Original title</label>
    <input type="text" id="media-original-title" value="{{.OriginalTitle}}" readonly>
    <button class="link-button" onclick="copyPrevInput(event)">copy</button>
    <label for="media-original-artist">Original artist</label>
    <input type="text" id="media-original-artist" value="{{.OriginalArtist}}" readonly>
    <button class="link-button" onclick="copyPrevInput(event)">copy</button>
  </div>
  <div class="button-bar">
    <button class="base-background" hx-get="/watch/{{$id}}/controller" hx-target="#playlist-controller"
      hx-swap="innerHTML">Reset</button>
    <button class="accent-background" hx-post="/">Submit</button>
  </div>
</section>
<hr>
<section class="current-media-details">
  <p>Media duration: {{FormatDuration .Duration}}</p>
  <p>Media added on 2024-12-04T05:21:20, 31 view(s)</p>
  <p>Playlist item added on 2024-12-04T05:21:20</p>
</section>
{{end}}

<hr>
<section>
  <p><strong>Debug info:</strong></p>
  <p>Playlist UUID: {{.Id}}</p>
  <p>Global (playlist) integrity hash: {{.GlobalHash}}</p>
  <p>Local (media) integrity hash: {{.GlobalHash}}</p>
  {{with .Media}}
  <p>Media UUID: {{.Id}}, Type: {{.Type}}</p>
  <p>Playlist item UUID: {{.ItemId}} (prev {{.PrevId}}, next {{.NextId}})</p>
  <p>Media URL: <a href="{{.URL}}" target="_blank">{{.URL}}</a></p>
  {{end}}
</section>
{{end}}

{{define "body"}}
{{$loggedIn := HasUsername .Context}}
<main class="main-content no-border no-margin no-padding full {{if .ErrorString}}noanim{{end}}" hx-target="closest main"
  hx-swap="outerHTML">
  <link rel="stylesheet" href="/styles/playlist-watch.css" type="text/css">
  <article>Video placeholder</article>
  <aside class="playlist-details">
    <nav class="tab-bar">
      <ul>
        <li>
          <input type="radio" id="tab-queue" class="tab-radio" name="playlist-details-tab" checked>
          <label for="tab-queue">queue</label>
        </li>
        <li>
          <input type="radio" id="tab-controller" class="tab-radio" name="playlist-details-tab">
          <label for="tab-controller">controller</label>
        </li>
      </ul>
    </nav>
    <section id="playlist-queue" class="tab-content" hx-trigger="load" hx-get="/watch/{{.Id}}/queue/firstpage"
      hx-swap="innerHTML" hx-target="this">
    </section>
    <section id="playlist-controller" class="tab-content" hx-trigger="load" hx-get="/watch/{{.Id}}/controller"
      hx-swap="innerHTML" hx-target="this">
    </section>
  </aside>
</main>
{{end}}
